/* iziToast alert  */
body{
    font-family: 'Arial', sans-serif !important;
}

.iziToast:after{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;

}

.iziToast .iziToast-progressbar > div {
    height: 4px !important; 
}

.form-control{
    border-radius: 5px;
}

.form-control:focus ,.form-select :focus {
    box-shadow: none !important;
    border-color: #FF7C00 !important;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    background-color: #FF7C00 !important;
    border: none !important;
    padding: 10px !important;
    margin-top: 20px !important;
}
